body {
	background-color: #232323;
}

.square {
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	/* since the divs are block elements, they line up vertically
	float: left allows the divs to line up horizontally */
	float:left;
	margin: 1.66%;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	color: white;
}

#colorDisplay {
	text-transform: uppercase;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

button {
	text-transform: uppercase;
}